<div class="agency">

    <div class="agency__title">{{ site.data.t.agency[page.lang] }}</div>

    <div class="agency__subtitle">Агентство «Небо» успешно работает с 2005 года и является лидером на рынке услуг в области событийного маркетинга.</div>

    <p>Портфолио агентства составляют резонансные события, которые получили признание благодаря оригинальности идей и безупречности организации.</p>

    <p>За 9 лет работы мы провели более 300 мероприятий и получили более 40 наград на профильных конкурсах (Eventаризация, Золотой пропеллер, Event Awards).</p>

    <div class="agency__slick js-agency-slick">
        {% assign agency = site.data.agency %}
        {% for i in agency %}
            {% for cover in site.static_files %}
                {% if cover.path contains i.id and cover.path contains 'img/agency' %}
                    <div>
                        <div class="agency__media">
                            <img class="agency__img" data-lazy="{{ site.baseurl }}{{cover.path}}" alt="{{ i.title[page.lang] }} Logo">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <p>Благодаря профессионализму команды и уникальному, нестандартному подходу к каждой задаче, агентству удалось зарекомендовать себя как надежного партнера в реализации поистине сложных и масштабных проектов.</p>

    <p>В список клиентов Агентства входят крупные международные и Украинские компании.</p>

    <p>Развитая партнерская сеть дает возможность осуществлять проекты наивысшего качества в любой точке земного шара, и вместе с тем привносить все лучшее, чем располагает мировая индустрия развлечений, в концепции мероприятий в Украине.</p>

</div>
