<div class="agency" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-50">
    <div class="agency__bg" data-stellar-background-ratio="1.5" data-stellar-vertical-offset="-250"></div>

    <span class="agency__figure agency__figure--top-square icon-square"></span>
    <span class="agency__figure agency__figure--top-flash icon-flash"></span>
    <span class="agency__figure agency__figure--top-triangle icon-triangle"></span>

    <span class="agency__figure agency__figure--bottom-triangle-1 icon-triangle"></span>
    <span class="agency__figure agency__figure--bottom-triangle-2 icon-triangle"></span>
    <span class="agency__figure agency__figure--bottom-star icon-star"></span>
    <span class="agency__figure agency__figure--bottom-square icon-square"></span>

    <div class="agency__title">{{ site.data.t.agency[page.lang] }}</div>

    <div class="agency__subtitle">Агентство «Небо» успешно работает с 2005 года и является лидером на рынке услуг в области событийного маркетинга.</div>

    <p class="agency__p">Портфолио агентства составляют резонансные события, которые получили признание благодаря оригинальности идей и безупречности организации.</p>

    <p class="agency__p">За 9 лет работы мы провели более 300 мероприятий и получили более 40 наград на профильных конкурсах (Eventаризация, Золотой пропеллер, Event Awards).</p>

    <div class="agency__slick js-agency-slick">
        {% for cover in site.static_files %}
            {% if cover.path contains 'img/agency' %}
                <div>
                    <div class="agency__media">
                        <img class="agency__img" data-lazy="{{ site.baseurl }}{{cover.path}}" alt="Nebo">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <p class="agency__p">Благодаря профессионализму команды и уникальному, нестандартному подходу к каждой задаче, агентству удалось зарекомендовать себя как надежного партнера в реализации поистине сложных и масштабных проектов.</p>

    <p class="agency__p">В список клиентов Агентства входят крупные международные и Украинские компании.</p>

    <p class="agency__p">Развитая партнерская сеть дает возможность осуществлять проекты наивысшего качества в любой точке земного шара, и вместе с тем привносить все лучшее, чем располагает мировая индустрия развлечений, в концепции мероприятий в Украине.</p>

</div>
