<div class="awards" data-stellar-background-ratio="1.5" data-stellar-vertical-offset="0">

    <div class="awards__title">{{ site.data.t.awards[page.lang] }}</div>

    <div class="awards__list">
        {% assign awards = site.data.awards %}
        {% for i in awards %}
            <div class="awards__item awards__item--{{ i.id }}">

                <div class="awards__item-wrap">
                    {% for cover in site.static_files %}
                        {% if cover.path contains i.id and cover.path contains '.png' %}
                            <img class="awards__item-img" src="{{ site.baseurl }}{{ cover.path }}">
                        {% endif %}
                    {% endfor %}
                    <div class="awards__item-title">{{ i.title[page.lang] }}</div>
                    <div class="awards__item-number">{{ i.number }}</div>
                </div>

                <div class="awards__events">
                    {% assign events = site.categories.events %}
                    {% for e in events %}
                        {% if e.award contains i.id %}
                            <a href="{{ site.baseurl }}{{ e.url }}" class="awards__event">

                                {% if e.tag == 'mass' %}
                                    <span class="icon-flash"></span>
                                {% endif %}
                                {% if e.tag == 'brand' %}
                                    <span class="icon-oval"></span>
                                {% endif %}
                                {% if e.tag == 'corp' %}
                                    <span class="icon-triangle"></span>
                                {% endif %}
                                {% if e.tag == 'btl' %}
                                    <span class="icon-star"></span>
                                {% endif %}
                                {% if e.tag == 'mice' %}
                                    <span class="icon-square"></span>
                                {% endif %}

                                <div class="awards__event-title">{{ e.title }}</div>

                                {% if e.award contains 'eventarizacia' %}
                                    <div class="awards__event-prize awards__event-prize--eventarizacia">{{ e.prize-eventarizacia }}</div>
                                {% endif %}
                                {% if e.award contains 'ukrawards' %}
                                    <div class="awards__event-prize awards__event-prize--ukrawards">{{ e.prize-ukrawards }}</div>
                                {% endif %}
                                {% if e.award contains 'propeller' %}
                                    <div class="awards__event-prize awards__event-prize--propeller">{{ e.prize-propeller }}</div>
                                {% endif %}

                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>

    <a class="awards__btn js-awards-show-more">
        Все награды
        <span class="icon-arrow-down"></span>
        <span class="icon-arrow-up"></span>
    </a>
</div>
