<div class="contacts">

    <div class="contacts__right">
        <div id="map" class="contacts__map"></div>
    </div>

    <div class="contacts__left">
        <div class="contacts__title">{{ site.data.t.contacts[page.lang] }}</div>

        <div class="contacts__info">
            Украина, Киев
            <br>
            ул. Заньковецкой 4
            <br>
            <br>
            +380 95 126 26 80
            <br>
            +380 97 456 82 34
            <br>
            info@nebo.ua
        </div>

        <div class="contacts__description">Для того, чтобы связаться с нами, укажите Ваши контактные данные, а также интересующий Вас вопрос.</div>

        <form class="contacts__form" action="https://formspree.io/ihororlovskyi@gmail.com" method="POST">
            <div class="contacts__inputs-row">
                <input class="contacts__name" type="text" name="name" placeholder="Ваше Имя">
            </div>

            <div class="contacts__inputs-row">
                <input class="contacts__email" type="email" name="_replyto" placeholder="Email">
            </div>

            <textarea class="contacts__textarea" rows="3" placeholder="Текст вопроса"name="message"></textarea>

            <!-- <input type="hidden" name="_next" value="{{ site.baseurl }}/#thanks"> -->

            <input class="contacts__submit" type="submit" value="Отправить">

        </form>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">

        </script>
    </div>
</div>
