<div class="contacts">

    <div class="contacts__map-wrap">
        <div id="map" class="contacts__map"></div>
        <script src="https://maps.google.com/maps/api/js{% if site.googleApiKey %}?key={{ site.googleApiKey }}{% endif %}"></script>
    </div>

    <div class="contacts__text-wrap">
        <div class="contacts__title">{{ site.data.t.contacts[page.lang] }}</div>

        <div class="contacts__info">
            Украина, Киев
            <br>
            ул. Крещатик 15
            <br>
            <br>
            <a href="tel:+380442782037">+38 (044) 278 20 37</a>
            <br>
            <br>
            <a href="mailto:info@nebo.ua?subject=Добрый день">info@nebo.ua</a>
        </div>

        <div class="contacts__description">Для того, чтобы связаться с нами, укажите Ваши контактные данные, а также интересующий Вас вопрос.</div>

        <form class="contacts__form" action="https://formspree.io/info@nebo.ua" method="POST">
            <div class="contacts__inputs-row">
                <input class="contacts__name" type="text" name="name" placeholder="Ваше Имя">
            </div>

            <div class="contacts__inputs-row">
                <input class="contacts__email" type="email" name="_replyto" placeholder="Email">
            </div>

            <textarea class="contacts__textarea" rows="5" placeholder="Текст вопроса" name="message"></textarea>

            <input type="hidden" name="_next" value="{{ site.baseurl }}/#thanks">

            <input class="contacts__submit" type="submit" value="Отправить">
        </form>

    </div>
</div>
