<footer class="footer">

    <div class="footer__wrap">

        <img src="{{ site.baseurl }}/assets/img/footer/nebo-logo-gray.png" alt="Nebo Logo">

        <div class="footer__text">

            {% include svg/nebo.svg %}

            <div class="footer__nebo">Event Management</div>

            <div class="footer__copyright">
                © 2016 NEBO - Events Management, событийный маркетинг, проведение ивентов.
                <br>
                Все права защищены.
            </div>

        </div>

    </div>

</footer>
