<footer class="footer" data-stellar-background-ratio="1.5" data-stellar-vertical-offset="-80">

    <span class="footer__figure footer__figure--top-square icon-square"></span>
    <span class="footer__figure footer__figure--top-flash icon-flash"></span>

    <div class="footer__wrap">

        <img class="footer__logo" src="{{ site.baseurl }}/assets/img/footer/nebo-logo-gray.png" alt="Nebo Logo">

        <div class="footer__text">

            {% include svg/nebo.svg class='footer__nebo-svg' %}

            <div class="footer__nebo">Event Management</div>

            <div class="footer__copyright">
                2006 - <span id="currentYear"></span> © Nebo Event Management, событийный маркетинг, проведение ивентов.
                <br>
                Все права защищены.
            </div>

            <!-- <div class="footer__powered">Powered by <a href="https://rooooster.com" class="footer__link" target="_blank">Rooster Sudio</a></div> -->
        </div>

    </div>

</footer>

<script>
var d = new Date();
document.getElementById("currentYear").innerHTML = d.getFullYear();
</script>
