<footer class="footer">

    {% include svg/figures-footer.svg class='footer__figures-bg' %}

    <div class="footer__wrap">

        <img class="footer__logo" src="{{ site.baseurl }}/assets/img/footer/nebo-logo-gray.png" alt="Nebo Logo">

        <div class="footer__text">

            {% include svg/nebo.svg class='footer__nebo-svg' %}

            <div class="footer__nebo">Event Management</div>

            <div class="footer__copyright">
                © 2016 NEBO - Events Management, событийный маркетинг, проведение ивентов.
                <br>
                Все права защищены.
            </div>

            <div class="footer__powered">Powered by <a href="http://rooooster.com" class="footer__link" target="_blank">Rooster Sudio</a></div>
        </div>

    </div>

</footer>
