<div class="hero">

    <div class="hero__slick js-hero-slick">
        {% assign events = site.categories.events | where: "lang", page.lang %}
        {% for i in events %}
            {% if i.description %}
                <div>
                    <div class="hero__item">

                        <img class="hero__bg1" src="{{ site.baseurl }}/assets/img/bg-hero1.png" data-stellar-ratio="0.5" data-stellar-vertical-offset="-200">
                        <img class="hero__bg2" src="{{ site.baseurl }}/assets/img/bg-hero2.png" data-stellar-ratio="0.5" data-stellar-vertical-offset="-200">

                        <div class="hero__media">

                            {% for cover in site.static_files %}
                                {% if cover.path contains i.name and cover.path contains 'cover.jpg' %}
                                    <img class="hero__img" data-lazy="{{ site.baseurl }}{{cover.path}}">
                                {% endif %}
                            {% endfor %}

                            <div class="hero__group1" data-stellar-ratio="1.6" data-stellar-vertical-offset="-50">
                                <span class="hero__figure hero__group1-top-flash icon-flash"></span>
                                <span class="hero__figure hero__group1-top-star icon-star"></span>
                                <span class="hero__figure hero__group1-top-square icon-square"></span>

                                <span class="hero__figure hero__group1-bottom-oval icon-oval"></span>
                                <span class="hero__figure hero__group1-bottom-triangle icon-triangle"></span>
                                <span class="hero__figure hero__group1-bottom-flash icon-flash"></span>
                            </div>

                            <div class="hero__group2" data-stellar-ratio="1.6" data-stellar-vertical-offset="-50">
                                <span class="hero__figure hero__group2-top-square icon-square"></span>
                                <span class="hero__figure hero__group2-top-oval icon-oval"></span>
                                <span class="hero__figure hero__group2-top-star icon-star"></span>

                                <span class="hero__figure hero__group2-bottom-flash icon-flash"></span>
                                <span class="hero__figure hero__group2-bottom-triangle icon-triangle"></span>
                            </div>

                            <div class="hero__text">
                                <div class="hero__title">{{ i.title }}</div>
                                <div class="hero__description">{{ i.description }}</div>
                                <a href="{{ site.baseurl }}{{ i.url }}" class="hero__btn">Подробнее</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include pride.html %}
</div>
