<article data-remodal-id="{{ i.id }}" class="events-item js-remodal">
    <button data-remodal-action="close" class="events-item__close"></button>

        <div class="event-item__title">{{ i.title }}</div>

        <div class="slick-container js-slick-container">
            {% for image in site.static_files %}
                {% if image.path contains i.id  %}
                    {% unless image.path contains '00' %}
                        <div>
                            <img src="{{ site.baseurl }}{{image.path}}" alt="{{ i.title }} Cover">
                        </div>
                    {% endunless %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="event-item__subtitle">{{ i.subtitle }}</div>

        <div class="event-item__description">{{ i.description }}</div>

        {% for cover in site.static_files %}
            {% if cover.path contains i.id and cover.path contains '00' %}
                <img class="event-item__img" src="{{ site.baseurl }}{{cover.path}}" alt="{{ i.title }} Cover">
            {% endif %}
        {% endfor %}

        <div class="event-item__third-title">Про проект</div>

        <div>Похожие проекты</div>
    </div>
</article>
