<div data-remodal-id="{{ i.id }}" class="modal js-remodal">
    <button data-remodal-action="close" class="modal__close">Modal close</button>

    <div class="modal__header">
        Modal header
    </div>

    <div class="modal__body">
        {{ i.title }}

        <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
    </div>

    <div>Похожие проекты</div>

    <div class="modal__footer">
        Modal footer
    </div>
</div>
