<a class="logo" href="{{ site.baseurl }}/">
    <img class="logo__img" src="{{ site.baseurl }}/assets/img/header/nebo-logo.png" alt="Nebo Logo">
</a>

<ul class="mainmenu js-page-nav">
    <li class="mainmenu__li mainmenu__li--selected" style="display: none;">
        <a class="mainmenu__a" href="{{ site.baseurl }}/#hero">
            Top
        </a>
    </li>
    <li class="mainmenu__li">
        <a class="mainmenu__a" href="{{ site.baseurl }}/#events">
            {{ site.data.t.events[page.lang] }}
        </a>
    </li>
    <li class="mainmenu__li">
        <a class="mainmenu__a" href="{{ site.baseurl }}/#awards">
            {{ site.data.t.awards[page.lang] }}
        </a>
    </li>
    <li class="mainmenu__li">
        <a class="mainmenu__a" href="{{ site.baseurl }}/#clients">
            {{ site.data.t.clients[page.lang] }}
        </a>
    </li>
    <li class="mainmenu__li">
        <a class="mainmenu__a" href="{{ site.baseurl }}/#agency">
            {{ site.data.t.agency[page.lang] }}
        </a>
    </li>
    <li class="mainmenu__li">
        <a class="mainmenu__a" href="{{ site.baseurl }}/#contacts">
            {{ site.data.t.contacts[page.lang] }}
        </a>
    </li>
</ul>

<nav class="langmenu">
    <a class="langmenu__link langmenu__link--ru" href="{{ site.baseurl }}/">Ru</a>
    <a class="langmenu__link langmenu__link--en" href="{{ site.baseurl }}/en">En</a>
    <a class="langmenu__link" href="https://www.facebook.com/NEBO.events.management" target="_blank">Facebook</a>
</nav>
