<nav class="mainmenu">
    <a href="{{ site.baseurl }}/#projects">Проекты</a>
    <a href="{{ site.baseurl }}/#clients">Клиенты</a>
    <a href="{{ site.baseurl }}/#agency">Агенство</a>
    <a href="{{ site.baseurl }}/#contacts">Контакты</a>
</nav>

<nav class="submenu">
    <a href="{{ site.baseurl }}/">Show</a>
    <a href="{{ site.baseurl }}/">Grand Opening</a>
    <a href="{{ site.baseurl }}/">Конференции</a>
    <a href="{{ site.baseurl }}/">Инсталяции</a>
    <a href="{{ site.baseurl }}/">MICE</a>
</nav>

<nav class="langmenu">
    <a href="{{ site.baseurl }}/">Ru</a>
    <a href="{{ site.baseurl }}/en">En</a>
    <a href="https://www.facebook.com/NEBO.events.management" target="_blank">Facebook</a>
</nav>
