body {
    margin: 0;
    padding: 20px;
    color: #fff;
}

.m1 {
    margin: 69px;
    padding: 60px;
    /*border: 2px solid #BB1221;*/
    width: 100px;
    box-sizing: border-box; 
}

.m2 {
    width: 1200px;
    height: 1200px;
    border: 2px solid #000;
    margin: 0px;
}

.navigation {
    margin: 10px;
    position: relative;
    z-index: 200;
}

.navigation a {
    text-transform: uppercase;
    font-size: 10px;
    // float: left;
    transition: all .5s ease-in-out;
    color: orange;
    padding: 6px 12px;
    font-family: sans-serif; 
}

.navigation a:hover {
    color: grey;
    background: orange;
}

.facebook {
    background: block;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Tahoma;
    text-align: right;
    color: #0DC814;
    float: right;
    cursor: pointer;
    background: #bbb;
    transition: all .2s ease-in-out 0.5s;
    color: blue;
    padding: 15px 30px;
}
