.agency {
    background: #f5a39a;
    @include clearfix;
    text-align: left;
    color: #fff;
    padding: 70px 0;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bg-agency.png);
    background-position: 50% 0;
    background-repeat: repeat-y;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../img/bg-agency-figures.png);
        background-position: 50% 0;
        background-repeat: repeat-y;
    }

    &__figure {
        position: fixed;

        &--top-square {
            top: 18%;
            left: 27%;
            font-size: 30px;
        }

        &--top-flash {
            top: 24%;
            right: 38%;
            font-size: 50px;
            color: #e28d83;
        }

        &--top-triangle {
            top: 4%;
            right: 14%;
            font-size: 32px;
        }

        &--bottom-triangle-1 {
            bottom: 5%;
            left: 5%;
            font-size: 38px;
        }

        &--bottom-triangle-2 {
            bottom: 3%;
            right: 6%;
            font-size: 38px;
        }

        &--bottom-star {
            bottom: 16%;
            right: 38%;
            font-size: 40px;
        }

        &--bottom-square {
            bottom: 18%;
            right: 11%;
            font-size: 28px;
        }
    }

    &__title {
        position: relative;
        text-align: center;
        font-size: 28px;
        margin: 0 auto 40px;
        max-width: 90%;

        @include media(M) {
            max-width: 800px;
        }
    }

    &__subtitle {
        position: relative;
        font-size: 22px;
        margin: 0 auto 34px;
        max-width: 90%;

        @include media(M) {
            max-width: 800px;
        }
    }

    &__p {
        position: relative;
        font-size: 18px;
        margin: 0 auto 18px;
        max-width: 90%;

        @include media(M) {
            max-width: 800px;
        }
    }

    &__slick {
        position: relative;
        margin: 40px 0;

        .slick-slide {
            outline: none;
        }

        .slick-prev,
        .slick-next {
            height: 100%;
            width: 19%;
            opacity: 1;
            transition: opacity .2s ease;
            z-index: 1;
            display: none;

            &:before {
                color: #fff;
                font-family: "icomoon";
                font-size: 70px;
            }

            &:hover {
                opacity: .5;
            }
        }

        .slick-prev {
            left: 0;

            &:before {
                content: '\e902';
            }
        }

        .slick-next {
            right: 0;

            &:before {
                content: '\e903';
            }
        }
    }

    &__media {
        @include ratio(100%,4,3);
        text-align: center;
        position: relative;
    }

    &__img {
        position: absolute;
        top: 50%;
        // top: 0;
        left: 50%;
        // width: 100%;
        // height: auto;
        width: auto;
        height: 70%;
        margin: 0 auto;
        display: block;
        transition: height .3s ease .3s;
        transform: translate3d(-50%,-50%,0);

        .slick-current & {
            // width: 100%;
            height: 90%;
        }
    }
}
