.awards {
    background: #f5a39a;
    @include clearfix;
    text-align: left;
    color: #fff;
    padding: 70px;

    &__title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 40px;
    }

    &__wrap {
        @include clearfix;
    }

    &__item {
        float: left;
        width: 33.33333%;

        &-img {
            
        }

        &-title {
            
        }

        &-number {
            
        }

        &-btn {

            svg {
                display: inline-block;
                width: 20px;
                vertical-align: middle;
            }
        }
    }

    &__event {

        &-title {
            
        }

        &-prize {
            
        }
    }
}
