// @font-face {
//     font-family: 'AvenirNextBold';
//     src: url('../fonts/AvenirNext.ttc');
//     font-weight: normal;
//     font-style: normal;
// }

html {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    // border: 70px solid #fff;
    padding: 70px;
    text-align: center;
    font-weight: 600;
}

main {
    background: #1446a3;
    padding: 0 30px 30px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .5em;
}

a {
    text-decoration: none;
}
