html {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

main {
    background: #fff;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    // @include media(S) {
    //     margin-bottom: 360px;
    // }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .5em;
}

a {
    text-decoration: none;
}


// надобы что-то с этим сделать
.icon-combined {
    color: #3469cb;
}
.icon-crown {
    color: #3469cb;
}
.icon-square {
    color: #b28afc;
}
.icon-flash {
    color: #f5a39a;
}
.icon-triangle {
    color: #46cdcf;
}
.icon-star {
    color: #ffde7d;
}
.icon-oval {
    color: #4974c4;
}
