.clients {
    background: #fff;
    padding: 48px 70px;
    margin: 0 -70px;
    @include clearfix;

    &__title {
        color: #5c5c5c;
        font-size: 28px;
        margin-bottom: 70px;
    }

    &__slick {

        .slick-slide {
            width: 120px;
        }

        .slick-prev,
        .slick-next {
            height: 40px;
            width: 40px;
            color: #9b9b9b;
            opacity: .2;
            transition: opacity .2s ease;

            &:before {
                font-family: "icomoon";
                font-size: 40px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .slick-prev {
            left: -55px;

            &:before {
                content: '\e900';
            }
        }

        .slick-next {
            right: -55px;

            &:before {
                content: '\e901';
            }
        }
    }

    &__item-img-wrap {
        position: relative;
        // margin-bottom: 12px;
        @include ratio(100%,1,1)
    }

    &__item-img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: 80%;
        transform: translate3d(-50%,-50%,0);
    }

    &__item-title {
        font-size: 14px;
        color: #9b9b9b;
    }
}
