.clients {
    background: #fff;
    padding: 80px 0;
    // margin: 0 -70px;
    @include clearfix;

    @include media(M) {
        padding: 80px 70px;
    }

    &__title {
        color: #5c5c5c;
        font-size: 28px;
        margin-bottom: 50px;
    }

    &__slick {

        .slick-slide {
            width: 120px;
            margin: 0 5px 10px;
            outline: none;
        }

        .slick-prev,
        .slick-next {
            height: 40px;
            width: 40px;
            color: #9b9b9b;
            opacity: .2;
            transition: opacity .2s ease;

            &:before {
                font-family: "icomoon";
                font-size: 40px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .slick-prev {
            left: -55px;

            &:before {
                content: '\e900';
            }
        }

        .slick-next {
            right: -55px;

            &:before {
                content: '\e901';
            }
        }
    }

    &__item-img-wrap {
        position: relative;
        // margin-bottom: 12px;
        @include ratio(100%,1,1)
    }

    &__item-img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: 100%;
        transform: translate3d(-50%,-50%,0);
    }

    &-filter__link {
        display: block;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px;
        position: relative;

        &:hover,
        &--selected {
            background: #f5f5f5;
        }

        &.clients-filter__link--selected {

            &:after {
                position: absolute;
                content: '';
                bottom: -10px;
                left: 50%;
                transform: translate3d(-50%,0,0);
                border: 10px solid #1446a3;
                border-top: 0;
                border-left-color: transparent;
                border-right-color: transparent;
            }
        }
    }

    &__item-title {
        font-size: 14px;
        color: #9b9b9b;
        margin-bottom: 5px;
        min-height: 36px;

        [class^="icon-"] {
            vertical-align: middle;
            font-size: 20px;
            line-height: 0;
        }
    }

    // .js-clients-events-list {
    //     transition: height .4s ease;
    // }

    &__events-list {
    }

    &__event {
        text-align: left;
        width: 100%;
        float: left;
        padding: 10px;
        @include clearfix;
        box-sizing: border-box;
        background: #1446a3;
        font-size: 0;

        &-link {
            border-radius: 3px;
            // float: left;
            box-sizing: border-box;
            position: relative;
            padding: 5px 0;
            padding-left: 50px;
            width: 100%;
            display: inline-block;
            font-size: 14px;
            vertical-align: middle;

            @include media(M) {
                width: 50%;
            }

            @include media(XL) {
                width: 33.33333%;
            }

            &:hover {
                background: rgba(#000,.2);
            }

            [class^="icon-"] {
                // display: inline-block;
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translate3d(0,-50%,0);
                font-size: 28px;
            }
        }

        &-client {
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
        }

        &-title {
            font-size: 14px;
            color: #fff;

            @include media(S) {
                font-size: 16px;
            }

            @include media(L) {
                font-size: 18px;
            }

            @include media(XL) {
                font-size: 20px;
            }
        }

        &-year {
            font-size: 12px;
            color: #618bd9;

            @include media(L) {
                font-size: 14px;
            }
        }
    }

    // .isotope,
    // .isotope .isotope-item {
    //     transition-duration: 0.8s;
    // }

    // .isotope {
    //     transition-property: height, width;
    // }

    // .isotope .isotope-item {
    //     transition-property: transform, opacity;
    // }

    /**** disabling Isotope CSS3 transitions ****/

    // .isotope.no-transition,
    // .isotope.no-transition .isotope-item,
    // .isotope .isotope-item.no-transition {
    //           transition-duration: 0s;
    // }
}
