.contacts {
    background: #1446a3;
    @include clearfix;
    text-align: left;
    color: #fff;
    padding: 70px;
    position: relative;

    &__title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 40px;
    }
}
