.events-related {
    // margin: 0 -70px;
    border-top: 1px solid #e2e2e2;
    padding: 0;

    @include media(L) {
        padding: 0 70px 70px;
    }

    &__caption {
        font-size: 30px;
        margin: 30px auto;
        color: #5e5e5e;
        font-size: 20px
    }
}
