.events-item {
    border-top: 9px solid #fdc0b9;
    padding: 41px 70px 70px;
    min-height: 100%;

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px;

        svg {
            fill: $bodyColor;
        }
    }

    &__tag {
        font-size: 0;
        margin-bottom: 30px;

        nav {
            font-size: 20px;
            @include clearfix;
            display: inline-block;
        }

        svg {
            display: inline-block;
            width: 30px;
            float: left;
            margin-right: 10px;
        }

        span {
            text-align: left;
            display: inline-block;
            float: left;
        }
    }

    &__title {
        // font-size: 5vw;
        font-size: 50px;
        margin-bottom: 30px;
    }

    &__img {
        width: 100%;
        max-width: 800px;
        height: auto;
        display: block;
        margin: 0 auto 30px;
    }

    &__about {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__content {
        text-align: left;
        font-size: 20px;
        margin-bottom: 90px;
    }
}
