.events-item {
    min-height: 100%;
    background: #f7f7f7;
    border-top: 73px solid #fff;
    position: relative;
    overflow: hidden;
    // background-color: #db8b82;
    background-image: url(../img/bg-agency-figures.png);
    background-position: 50% 0;
    background-repeat: repeat-y;

    &__close {
        position: fixed;
        top: 9px;
        right: 0;
        padding: 15px 15px;
        cursor: pointer;
        z-index: 370;

        [class^="icon-"] {
            font-size: 35px;
            color: #222;
            vertical-align: middle;
        }
    }

    &__tag {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 73px;
        background: #fff;
        z-index: 300;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 9px;
            z-index: 10;
            background: #000;
            content: '';
        }

        &--mass:before {
            background: #f5a39a;
        }

        &--brand:before {
            background: #4974c4;
        }

        &--corp:before {
            background: #46cdcf;
        }

        &--btl:before {
            background: #ffde7d;
        }

        &--mice:before {
            background: #b28afc;
        }

        &-link {
            position: absolute;
            top: 9px;
            left: 50%;
            display: table;
            transform: translate3d(-50%,0,0);
            text-align: center;
            padding: 0 10px;
            height: 65px;
        }

        [class^="icon-"] {
            font-size: 36px;
            display: table-cell;
            vertical-align: middle;
            padding-right: 14px;
        }

        &-name {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            font-size: 20px;
            color: #000;
        }
    }

    &__title {
        font-size: 36px;
        margin: 60px auto 0;
        padding: 0 15px;

        @include media(M) {
            font-size: 54px;
        }
    }

    &__slick {
        margin: 40px 0;

        .slick-slide {
            outline: none;
        }

        .slick-prev,
        .slick-next {
            height: 100%;
            width: 19%;
            z-index: 1;
            opacity: .5;
            transition: opacity .2s ease;

            &:before {
                font-family: "icomoon";
                font-size: 70px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .slick-prev {
            left: 0;

            &:before {
                content: '\e902';
            }
        }

        .slick-next {
            right: 0;

            &:before {
                content: '\e903';
            }
        }
    }

    &__awards {
        padding: 60px 15px 80px;
        margin-bottom: 60px;
        text-align: left;
        // background-color: #cb9233;
        background-color: #db8b82;
        background-image: url(../img/bg-awards.png);
        background-position: 50% 0;
        background-repeat: repeat-y;

        &-item {
            padding-left: 30%;
            margin-bottom: 60px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-img {
            position: absolute;
            top: 50%;
            left: 30%;
            padding-right: 40px;
            transform: translate3d(-100%,-50%,0);
        }

        &-title {
            color: #fff;
            font-size: 20px;
            margin-bottom: 10px;

            @include media(S) {
                font-size: 30px;
            }

            @include media(M) {
                font-size: 40px;
            }

            @include media(L) {
                font-size: 50px;
            }
        }

        &-prize {
            color: #fff;
            font-size: 16px;

            @include media(S) {
                font-size: 18px;
            }

            @include media(M) {
                font-size: 20px;
            }

            @include media(L) {
                font-size: 22px;
            }
        }
    }

    &__media {
        @include ratio(100%,4,3);
        text-align: center;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 55%;
        margin: 0 auto;
        display: block;
        transition: height .3s ease .3s;
        transform: translate3d(-50%,-50%,0);

        .slick-current & {
            height: 80%;
        }
    }

    &__description {
        font-size: 22px;
        max-width: 800px;
        margin: 0 auto 60px;
        text-align: left;
        padding: 0 15px;

        @include media(M) {
            font-size: 34px;
        }
    }

    &__cover {
        width: 70%;
        max-width: 800px;
        height: auto;
        display: block;
        margin: 0 auto 60px;

        @include media(M) {
            width: 100%;
        }
    }

    &__about {
        font-size: 20px;
        max-width: 800px;
        margin: 0 auto 60px;
        padding: 0 15px;

        @include media(M) {
            font-size: 28px;
        }
    }

    &__content {
        font-size: 14px;
        max-width: 800px;
        margin: 0 auto 90px;
        text-align: left;
        padding: 0 15px;

        @include media(M) {
            font-size: 18px;
        }
    }
}
