.events-list {
    text-align: center;
    transition: height .4s ease;
    @include clearfix;
    overflow: hidden;

    &__sizer {
        width: 25%;
    }

    &__item {
        float: left;
        overflow: hidden;
        @include ratio(25%,2,1.1);

        &--lg {
            @include ratio(50%,2,1.1);
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        filter: grayscale(70%);
        transform: translate3d(-50%,-50%,0) scale(1.5);
        transition: transform .3s ease, filter .5s ease;

        .events-list__item:hover & {
            filter: grayscale(0%);
            transform: translate3d(-50%,-50%,0) scale(1.25);
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        transform: translate3d(-50%,-50%,0) scale(0);
        transition: transform .3s ease;
    }
    .events-list__item:hover svg {
        transform: translate3d(-50%,-50%,0) scale(1);
    }

    &__text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        padding: 0 10px;
        box-sizing: border-box;
        text-shadow: 0 0 10px #000;
        transform: translate3d(0,-50%,0);
    }

    &__title {
        font-size: 20px;
        color: #fff;
        margin-bottom: 4px;
    }

    &__tag {
        font-size: 12px;
        color: #fff;
    }
}
