.footer {
    padding: 100px 20px 80px;
    position: relative;
    background: #3b3b3b;

    @include media(S) {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    &__figure {
        position: absolute;

        &--top-square {
            top: 10%;
            left: 10%;
            font-size: 28px;
            color: #b28afc;

            @include media(L) {
                top: 40%;
            }
        }

        &--top-flash {
            bottom: 20%;
            right: 10%;
            font-size: 40px;
            color: #e28d83;

            @include media(L) {
                bottom: 40%;
            }
        }
    }

    &__wrap {
        margin: 0 auto;
        max-width: 740px;
        position: relative;
        @include clearfix;
    }

    &__logo {
        max-width: 100px;
        width: 100px;
        height: auto;
        display: block;
        // margin-right: 30px;
        margin-bottom: 20px;

        @include media(S) {
            float: left;
        }
    }

    &__text {
        text-align: left;

        @include media(S) {
            padding-left: 130px;
        }
    }

    &__nebo-svg {
        max-width: 70px;
        fill: #686868;
        display: block;
        margin-bottom: 10px;
    }

    &__nebo {
        color: #585858;
        margin-bottom: 10px;
    }

    &__copyright {
        color: #686868;
        margin-bottom: 40px;
    }

    &__powered {
        color: #686868;
    }

    &__link {
        color: #fff;
    }
}
