.footer {
    padding: 100px 15px 100px;
    position: relative;
    background: #3b3b3b;
    z-index: 100;
    overflow: hidden;
    background-image: url(../img/bg-agency-figures.png);
    background-position: 50% 0;
    background-repeat: repeat-y;
    // background-size: contain;

    @include media(S) {
        height: 360px;
        box-sizing: border-box;
    }

    &__figure {
        position: fixed;

        &--top-square {
            bottom: 45%;
            left: 10%;
            font-size: 28px;
            color: #b28afc;

            @include media(S) {
                bottom: 10%;
            }
        }

        &--top-flash {
            bottom: 8%;
            right: 20%;
            font-size: 40px;
            color: #e28d83;

            @include media(S) {
                bottom: 5%;
            }
        }
    }

    &__wrap {
        margin: 0 auto;
        max-width: 740px;
        position: relative;
        @include clearfix;
    }

    &__logo {
        max-width: 100px;
        width: 100px;
        height: auto;
        display: block;
        margin-bottom: 20px;

        @include media(S) {
            float: left;
        }
    }

    &__text {
        text-align: left;

        @include media(S) {
            padding-left: 130px;
        }
    }

    &__nebo-svg {
        max-width: 70px;
        fill: #686868;
        display: block;
        margin-bottom: 10px;
    }

    &__nebo {
        color: #585858;
        margin-bottom: 10px;
    }

    &__copyright {
        color: #686868;
        margin-bottom: 40px;
    }

    &__powered {
        color: #686868;
    }

    &__link {
        color: #fff;
    }
}
