.hero {
    background: #1446a3;
    @include clearfix;
    text-align: left;
    color: #fff;
    padding: 0;

    &__clipping {
        position: absolute;
        width: 0;
        height: 0;
    }

    &__slick {
        margin-bottom: 30px;

        .slick-prev,
        .slick-next {
            height: 70px;
            width: 70px;
            opacity: 1;
            transition: opacity .2s ease;
            z-index: 1;

            &:before {
                color: #fff;
                font-family: "icomoon";
                font-size: 70px;
            }

            &:hover {
                opacity: .5;
            }
        }

        .slick-prev {
            left: 0;

            &:before {
                content: '\e902';
            }
        }

        .slick-next {
            right: 0;

            &:before {
                content: '\e903';
            }
        }

        .slick-dots {
            bottom: 30px;

            li {
                margin: 0 8px;

                button:before {
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }

    &__item {
        
    }

    &__media {
        @include ratio (100%,5,2);
        // float: right;
    }

    &__svg {
        position: absolute;
        top: 0;
        display: block;
        width: 70%;
        height: 100%;
        z-index: 10;
    }

    &__svg-helper {
        // opacity: .2 !important;
        position: absolute;
        top: 0;
        display: block;
        width: auto;
        height: 90%;
        box-shadow: 0 4px 40px rgba(#000,.4);
        border: 0 solid transparent;
        border-bottom-width: 40px;
        box-sizing: border-box;

        .slick-slide:nth-child(odd) & {
            right: 0;
            border-radius: 0 0 0 500px;
            border-left-width: 40px;
        }
        .slick-slide:nth-child(even) & {
            left: 0;
            border-right-width: 40px;
            border-radius: 0 0 500px 0;
        }
        .slick-slide:nth-child(odd) &--even {
            display: none;
        }
        .slick-slide:nth-child(even) &--odd {
            display: none;
        }
    }

    &__img {
        // display: block;
        // width: 505px;
        // height: 505px;
    }

    &__text {
        position: absolute;
        width: 50%;
        box-sizing: border-box;
        top: 50%;
        transform: translate3d(0,-50%,0);
        color: #fff;

        .slick-slide:nth-child(odd) & {
            text-align: left;
            left: 70px;
        }
        .slick-slide:nth-child(even) & {
            text-align: right;
            right: 70px;
        }
    }

    &__title {
        font-size: 60px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__description {
        // width: 60%;
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__btn {
        @include btn--lg;
    }
}
