.hero {
    background: #1446a3;
    @include clearfix;
    text-align: left;
    color: #fff;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-top: 73px;

    &__item {
        
    }

    &__bg1,
    &__bg2 {
        height: auto;
        position: absolute;
        display: none !important;
        z-index: 90;
        width: 70%;
        bottom: -20%;
        left: 50%;
        transform: translate3d(-50%,70%,0);
    }

    &__bg1 {
        .slick-slide:nth-child(odd) & {
            display: block !important;

            @include media(M) {
                width: 40%;
                top: -12%;
                left: -12%;
                bottom: auto;
                transform: translate3d(0,0,0);
            }
        }
    }

    &__bg2 {
        .slick-slide:nth-child(even) & {
            display: block !important;

            @include media(M) {
                width: 45%;
                top: -12%;
                left: auto;
                right: -12%;
                bottom: auto;
                transform: translate3d(0,0,0);
            }
        }
    }

    &__slick {
        margin-bottom: 50px;

        @include media(M) {
            margin-bottom: -50px;
        }

        .slick-list {
            overflow: visible;
        }

        .slick-slide {
            outline: none;
        }

        .slick-prev,
        .slick-next {
            height: 70px;
            width: 70px;
            opacity: 1;
            transition: opacity .2s ease;
            z-index: 1;

            &:before {
                color: #fff;
                font-family: "icomoon";
                font-size: 70px;
            }

            &:hover {
                opacity: .5;
            }
        }

        .slick-prev {
            left: 0;

            &:before {
                content: '\e902';
            }
        }

        .slick-next {
            right: 0;

            &:before {
                content: '\e903';
            }
        }

        .slick-dots {
            bottom: -20px;

            @include media(M) {
                bottom: 80px;
            }

            li {
                margin: 0 8px;

                button:before {
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }

    &__media {
        position: relative;
        z-index: 110;

        @include media(M) {
            @include ratio (100%,5,2);
        }
    }

    &__img {
        $boderXS: 32px;
        $boderM: 42px;
        width: 90%;
        display: block;
        height: auto;
        box-shadow: 0 4px 40px rgba(#000,.4);
        border: 0 solid transparent;
        border-bottom-width: 38px;
        box-sizing: border-box;
        margin: -$boderXS auto 0;
        position: relative;
        z-index: 250;

        @include media(M) {
            position: absolute;
            width: 55%;
            margin: -$boderM auto 40px;
        }

        .slick-slide:nth-child(odd) & {
            border-width: $boderXS;
            border-radius: 0 0 500px 500px;

            @include media(M) {
                right: -$boderM;
                border-width: $boderM;
                // border-left-width: $boderM;
                // border-right-width: $boderM;
                border-radius: 500px 0 0 500px;
            }
        }
        .slick-slide:nth-child(even) & {
            border-width: $boderXS;
            border-radius: 0 0 500px 500px;

            @include media(M) {
                left: -$boderM;
                border-width: $boderM;
                border-radius: 0 0 500px 0;
            }
        }
        .slick-slide:nth-child(odd) &--even {
            display: none;
        }
        .slick-slide:nth-child(even) &--odd {
            display: none;
        }
    }

    &__figure {
        position: absolute;
        z-index: 300;
    }

    &__group1,
    &__group2 {
        display: none !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__group1 {

        .slick-slide:nth-child(odd) & {
            display: block !important;
        }

        &-top-flash {
            top: 14%;
            left: 12.5%;
            font-size: 56px;
        }

        &-top-star {
            top: 8%;
            left: 58.5%;
            font-size: 46px;
        }

        &-top-square {
            top: 11%;
            left: 28.5%;
            font-size: 35px;
        }

        &-bottom-oval {
            bottom: 15%;
            left: 12%;
            font-size: 56px;
            color: #779ee5;
        }

        &-bottom-triangle {
            bottom: 29%;
            left: 31%;
            font-size: 46px;
        }

        &-bottom-flash {
            bottom: 26%;
            left: 57%;
            font-size: 46px;
        }
    }

    &__group2 {

        .slick-slide:nth-child(even) & {
            display: block !important;
        }

        &-top-square {
            top: 11%;
            right: 44.5%;
            font-size: 39px;
        }

        &-top-oval {
            top: 4%;
            right: 24.5%;
            font-size: 56px;
            color: #779ee5;
        }

        &-top-star {
            top: 11%;
            right: 7.5%;
            font-size: 56px;
        }

        &-bottom-triangle {
            bottom: 11%;
            right: 15.5%;
            font-size: 46px;
        }

        &-bottom-flash {
            bottom: 34%;
            right: 37.5%;
            font-size: 46px;
        }
    }

    &__text {
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
        position: relative;
        z-index: 320;

        @include media(M) {
            position: absolute;
            top: 50%;
            width: 50%;
            padding: 0;
            transform: translate3d(0,-50%,0);
        }

        .slick-slide:nth-child(odd) & {
            text-align: center;

            @include media(M) {
                text-align: left;
                left: 70px;
            }
        }
        .slick-slide:nth-child(even) & {
            text-align: center;

            @include media(M) {
                text-align: right;
                right: 70px;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;

        @include media(S) {
            font-size: 30px;
        }

        @include media(M) {
            font-size: 48px;
        }

        @include media(L) {
            font-size: 60px;
            line-height: 1;
        }
    }

    &__description {
        font-size: 16px;
        margin-bottom: 30px;

        @include media(M) {
            font-size: 20px;
        }
    }

    &__btn {
        @include btn--lg;
    }
}
