.mainmenu {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    background: #fff;

    &__logo {
        position: fixed;
        z-index: 900;
        top: 0;
        left: 5%;

        &-img {
            width: auto;
            height: 75px;
            display: block;
            transform: translate3d(0,-18px,0);
        }
    }

    &__wrapper {
        position: fixed;
        top: 73px;
        left: 100%;
        background: #fff;
        transform: translate3d(0,0,0);
        transition: transform .3s ease;
        width: 50%;
        min-width: 260px;
        min-height: 100%;
        z-index: 80;

        @include media(L) {
            display: block;
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            background: transparent;
            transform: translate3d(0,0,0);
        }

        &--active {
            transform: translate3d(-100%,0,0);

            @include media(L) {
                transform: translate3d(0,0,0);
            }
        }
    }

    &__mobile-pattern {
        position: fixed;
        top: 73px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        display: none;

        &--active {
            display: block;
            animation: menupattern .3s ease .3s;
            animation-fill-mode: forwards;

            @include media(L) {
                display: none;
            }
        }
    }

    &__mobile-menu-btn {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 19px 15px;
        text-transform: uppercase;
        line-height: 0;
        vertical-align: middle;
        font-size: 35px;
        font-weight: 700;
        color: #1446a3;

        @include media(L) {
            display: none;
        }

        [class^="icon-close"] {
            display: none;
        }

        [class^="icon-menu"] {
            display: block;
        }

        &--active {

            [class^="icon-close"] {
                display: block;
            }

            [class^="icon-menu"] {
                display: none;
            }
        }
    }

    &__nav {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;

        &-li {
            display: block;
            font-size: 14px;

            @include media(L) {
                display: inline-block;
            }
        }

        &-a {
            padding: 18px 15px;
            text-transform: uppercase;
            line-height: 20px;
            font-weight: 700;
            color: #1446a3;
            display: block;

            @include media(L) {
                padding: 23px 15px 26px;
                border-top: 4px solid transparent;
                transition: border-color .2s ease, color .2s ease;
            }

            .mainmenu__nav-li--selected &,
            &:hover {
                color: #1446a3;
            }

            .mainmenu__nav-li--selected & {
                border-color: #1446a3;
            }
        }
    }

    &__lang {
        position: relative;
        font-size: 0;

        @include media(L) {
            position: fixed;
            z-index: 800;
            top: 0;
            right: 5%;
            margin-right: -15px;
        }

        &-link {
            font-size: 14px;
            font-weight: 700;
            padding: 23px 15px 26px;
            line-height: 20px;
            display: inline-block;
            border-top: 4px solid transparent;
            color: #1446a3;
            transition: color .2s ease;

            &:hover {
                color: #1446a3;
            }

            &--ru,
            &--en {
              display: none;
            }

            &--ru:lang(ru),
            &--en:lang(en) {
              color: #1446a3;
            }
        }
    }

    &__section {
        position: relative;
        margin-top: -70px;
        padding-top: 70px;
    
        &--hero {
            z-index: 90;
        }

        &--events {
            z-index: 80;
        }

        &--awards {
            z-index: 70;
        }

        &--clients {
            z-index: 60;
        }

        &--agency {
            z-index: 50;
        }

        &--contacts {
            z-index: 40;
        }
    }
}

@keyframes menupattern {
    from {
        background: rgba(43,46,56,.0);
    }
    to {
        background: rgba(43,46,56,.9);
    }
}
