.mainmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    a {

    }
}

.submenu {
    position: fixed;
    top: 30px;
    right: 0;
    width: 100%;
    text-align: center;

    a {

    }
}

.langmenu {
    position: fixed;
    top: 0;
    right: 0;

    a {

    }
}
