.logo {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 70px;
    line-height: 70px;
    color: #b3b3b3;
}

.mainmenu {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    width: 100%;
    // text-align: center;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;

    &__li {
        display: inline-block;
        font-size: 18px;
    }

    &__a {
        padding: 0 23px;
        line-height: 70px;
        color: #b3b3b3;
        display: block;
        transition: color .3s ease;

        .mainmenu__li--selected &,
        &:hover {
            color: #1446a3;
        }
    }

    &__section {
        margin-top: -70px;
        padding-top: 70px;
    }
}

.langmenu {
    position: fixed;
    z-index: 800;
    top: 0;
    right: 70px;

    a {
        line-height: 70px;
        color: #b3b3b3;
    }
}
