.remodal-wrapper {
    padding: 0;
    border-top: 9px solid #fdc0b9;
    min-height: 100%;
    margin: 0;
}

.remodal {
    margin: 0;
    padding: 0 70px;
    border: 70px solid #fff;
    background: rgba(#fff,.5);
    min-height: 100%;
}

.remodal, .remodal-wrapper:after {
    vertical-align: top;
}

.remodal-close {
    top: -70px;
    left: auto;
    right: -70px;
    width: 70px;
    height: 70px;
    color: #000;

    &:before {
        font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
        font-size: 50px;
        line-height: 70px;
        width: 70px;
    }
}

@media only screen and (min-width: 641px) {
  .remodal {
    // max-width: 700px;
    max-width: 100%;
  }
}
