$slick-font-path: "../fonts/slick/";
$slick-font-family: "slick";
$slick-loader-path: "../img/slick/";
$slick-arrow-color: #777;
$slick-dot-color: #777;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "←";
$slick-next-character: "→";
$slick-dot-character: "•";
$slick-dot-size: 14px;
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

.slick-container {
    // width: 50%;
    margin: 0 0 60px;
    // padding: 30px 30px;
    // height: 300px;
    // background: #666;

    &__item {
        @include ratio(100%,4,3);
        position: relative;
        transition: transform .3s ease .3s;
        transform: scale(.8) translate3d(0,0,0);

        .slick-current & {
            transform: scale(1.0) translate3d(0,0,0);
        }
    }

    &__img {
        position: absolute;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        background-position: center;
        background-repeat: no-repeat;
        // background-color: #666;
        background-size: contain;
    }
}

.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.slick-next,
.slick-prev {
    height: 100%;
    width: 20%;
    z-index: 100;

    &:before {
        content: none;
    }
}
