.totop {
    width: 0;
    height: 0;
    background: #fff;
    position: fixed;
    z-index: 200;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    border-radius: 100px;
    border: 0 solid transparent;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(#000,.2);
    transition: box-shadow .2s ease-in-out;

    @include media(M) {
        width: 50px;
        height: 50px;
        border-width: 3px;
    }

    svg {
        width: 40px;
        margin: auto;
        display: block;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);

        path {
            fill: #1446a3;
            transition: fill .2s ease-in-out;
        }
    }

    &:hover {
        box-shadow: 0 0 20px rgba(#000,.3);
    }
}
