// Body
$bodyBg: #fff;
$bodyFont: 400 18px/1.1 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $bodyColor: #999;
$bodyColor: #000;

// Grid
$gridIndent: 20px;

@import 'vendor/coriolan-ui/coriolan-ui';
@import 'vendor/slick/slick';
@import 'vendor/slick/slick-theme';

@import 'totop';
