---
layout: default
---

<article class="events-item">

    <a href="{{ site.baseurl }}/#projects" class="events-item__close">{% include svg/close.svg %}</a>

    <div class="events-item__tag">
        <nav>
            {% if page.tag == 'brand' %}
                {% include svg/tag-brand.svg %}
                <span>{{ site.data.t.tag-brand[page.lang] }}</span>
            {% endif %}
            {% if page.tag == 'btl' %}
                {% include svg/tag-btl.svg %}
                <span>{{ site.data.t.tag-btl[page.lang] }}</span>
            {% endif %}
            {% if page.tag == 'corp' %}
                {% include svg/tag-corp.svg %}
                <span>{{ site.data.t.tag-corp[page.lang] }}</span>
            {% endif %}
            {% if page.tag == 'mass' %}
                {% include svg/tag-mass.svg %}
                <span>{{ site.data.t.tag-mass[page.lang] }}</span>
            {% endif %}
            {% if page.tag == 'mice' %}
                {% include svg/tag-mice.svg %}
                <span>{{ site.data.t.tag-mice[page.lang] }}</span>
            {% endif %}
        </nav>
    </div>

    <div class="events-item__title">{{ page.title }}</div>

    <div class="slick-container js-slick-container">
        {% for image in site.static_files %}
            {% if image.path contains page.id  %}
                {% unless image.path contains 'cover.jpg' %}
                    <div>
                        <img data-lazy="{{ site.baseurl }}{{image.path}}" alt="{{ page.title }} Cover">
                    </div>
                {% endunless %}
            {% endif %}
        {% endfor %}
    </div>

    {% for cover in site.static_files %}
        {% if cover.path contains page.id and cover.path contains 'cover.jpg' %}
            <img class="lazy events-item__img" src="{{ site.baseurl }}{{cover.path}}" alt="{{ page.title }} Cover">
        {% endif %}
    {% endfor %}

    <div class="events-item__about">{{ site.data.t.aboutEvent[page.lang] }}</div>

    <div class="events-item__content">
        {{ content }}
    </div>

    {% include events-related.html %}

</article>
