---
layout: default
---

{% include navigation.html %}

<main>
    <section id="hero" class="mainmenu__section">
        {% include hero.html %}
    </section>

    <section id="events" class="mainmenu__section">
        {% include events.html %}
    </section>

    <!-- <section id="awards" class="mainmenu__section">
        {% include awards.html %}
    </section> -->

    <section id="clients" class="mainmenu__section">
        {% include clients.html %}
    </section>

    <section id="agency" class="mainmenu__section">
        {% include agency.html %}
    </section>

    <section id="contacts" class="mainmenu__section">
        {% include contacts.html %}
    </section>

    {% include footer.html %}
</main>

{% include totop.html %}
