---
layout: default
---

<!-- <div class="remodal-bg"> -->

{% include home-navigation.html %}

<main>
    <section id="hero" class="mainmenu__section">
        {% include home-hero.html %}
    </section>

    <section id="projects" class="mainmenu__section">
        {% include home-projects.html %}
    </section>

    <section id="awards" class="mainmenu__section">
        {% include awards.html %}
    </section>

    <section id="clients" class="mainmenu__section">
        {% include home-clients.html %}
    </section>

    <section id="agency" class="mainmenu__section">
        {% include home-agency.html %}
    </section>

    <section id="contacts" class="mainmenu__section">
        {% include home-contacts.html %}
    </section>

    {% include footer.html %}
</main>

{% include totop.html %}

<!-- </div> -->

<!-- {% assign events = site.data.events | sort: 'title' %}
{% for i in events %}
    {% include modal.html %}
{% endfor %} -->
